# Flask 및 의존성
Flask==2.3.3
Werkzeug==2.3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.1.2
blinker>=1.6.2

# Flask 확장
Flask-SQLAlchemy==2.5.1
Flask-Migrate==4.0.4
Flask-Session==0.4.0

# 기타 라이브러리
cryptography==41.0.3
sqlalchemy==1.4.49
pymysql==1.0.3
requests==2.31.0

# 의존성 시각화 툴
pipdeptree
