{% extends 'base.html' %}

{% block title %}공략 게시판{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/guides.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="guide-container">
        <h1 class="mb-4">공략 게시판</h1>
        <div class="popular-strategies mb-4">
            <h2>🔥 인기 공략</h2>
            <ul class="list-unstyled">
                {% for guide in popular_guides %}
                <li>
                    <a href="{{ url_for('guide.guide_detail', guide_id=guide.guide_id) }}">{{ guide.title }}</a> 조회수 {{ guide.views }}
                    <span>작성자: {{ guide.author_name }} | 조회수: {{ guide.views }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <table class="guide-table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for guide in guides %}
                <tr>
                    <td>{{ guide.guide_id }}</td>
                    <td><a href="{{ url_for('guide.guide_detail', guide_id=guide.guide_id) }}">{{ guide.title }}</a></td>
                    <td>{{ guide.author_name }}</td> <!-- 글쓴이 이름 표시 -->
                    <td>{{ guide.views }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
            
        </table>

        <!-- 페이지 네비게이션 -->
        <div class="guide-footer">
            <div class="guide-pagination">
                <a href="{{ url_for('guide.guide_list', page=current_page - 1) }}" class="prev {% if current_page == 1 %}disabled{% endif %}">&lt;</a>
                {% for page_num in range(1, total_pages + 1) %}
                <a href="{{ url_for('guide.guide_list', page=page_num) }}" class="{% if page_num == current_page %}active{% endif %}">{{ page_num }}</a>
                {% endfor %}
                <a href="{{ url_for('guide.guide_list', page=current_page + 1) }}" class="next {% if current_page == total_pages %}disabled{% endif %}">&gt;</a>
            </div>
            <a href="{{ url_for('guide.create_guide') }}" class="guide-button">공략 등록</a>
        </div>
        
    </div>
</div>
{% endblock %}
