{% extends 'base.html' %}

{% block title %}질문 등록{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>새로운 질문 작성하기</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('guide.submit_question') }}">
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="질문의 제목을 입력하세요" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="category">카테고리</label>
                            <input type="text" class="form-control" id="category" name="category" placeholder="카테고리 내용을 입력하세요" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="content">질문 내용</label>
                            <textarea class="form-control" id="content" name="content" rows="5" placeholder="자세한 질문 내용을 입력하세요" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4 float-end">질문 등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
