.qna-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.qna-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.qna-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}

.qna-popular {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.qna-popular ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.qna-popular ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.qna-popular ul li:hover {
    background-color: #f8f8f8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.qna-popular ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.qna-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.qna-table thead th {
    text-align: left;
    background-color: #000000;
    font-weight: bold;
    padding: 12px;
    border-bottom: 2px solid #dddddd;
    color: #ffffff;
}

.qna-table tbody tr:hover {
    background-color: #d6d6d6;
    font-weight: bold;
}

.qna-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.2s ease-in-out;
}

.qna-table th, .qna-table td {
    padding: 15px;
    text-align: left;
    border-right: 1px solid #eeeeee;
}


.qna-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.qna-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
}

.qna-pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.qna-pagination a:hover {
    background-color: #f8f8f8;
    transform: translateY(-1px);
}

.qna-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-left: auto;
}

.qna-button:hover {
    background-color: #f8f8f8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
