.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.pagination .page-link {
    color: black; 
    background-color: transparent; 
    border: 0.5px solid #ddd; 
    transition: background-color 0.1s ease, color 0.1s ease; 
}

.pagination .page-link:hover {
    color: white; 
    background-color: black; 
    border-color: black; 
}

.pagination .page-item.active .page-link {
    color: white; 
    background-color: black; 
    border-color: black; }

.pagination .page-item.disabled .page-link {
    color: #ccc; 
    background-color: transparent; 
    border-color: #ddd; 
}


.game-discount-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.game-discount-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.game-discount-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}


.btn-primary {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    text-decoration: none !important; /* 기본 링크 스타일 제거 */
}

.btn-primary:hover {
    background-color: #333 !important;
    color: white !important;
    border-color: #333 !important;
    text-decoration: none !important; /* 기본 링크 스타일 제거 */
}


/* 할인된 가격 (빨간색) */
.card-text .text-danger {
    color: green !important; /* 초록색에서 빨간색으로 변경 */
}

/* % Off 텍스트 (빨간색으로 변경) */
.card-text.text-success {
    color: red !important; /* 초록색에서 빨간색으로 변경 */
}
